<h1> Add User! </h1>
<%= form_for(@user) do |f| %>
<ul>
<% @user.errors.full_messages.each do |err| %>
	<li><%= err %> </li>
<%end%>
</ul>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :age %>
	<%= f.text_field :age %>
	<%= f.submit "Add!" %>
	<% end %>