<h1> One post </h1>
<%= @post.tresc %>
<p>login:
<%= @post.login.email %> </p>
<%= link_to "usun", post_path(@post.id), method: :delete %>
<%= link_to "next", post_path(@post.id.next) %>
<p>
	<%= link_to "Main page", root_path %>
</p>