	<% if current_login %>
<h1> Cześć <%=current_login.email%> </h1> 
<%= link_to "twoj panel", login_path(current_login.id), :class => "btn btn-primary"%>
<%= link_to "Sign out!", destroy_login_session_path, :class => "btn btn-danger pull-right", method: :delete %>
<%else%>
<h1> Czesc nieznajomy </h1>
	<%=link_to "Registration", new_login_registration_path, :class => "btn btn-primary" %>
	<%= link_to "Sign in!", new_login_session_path, :class => "btn btn-success pull-right" %>
<%end%>